body {
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
}

.content {
  width: 100%;
  max-width: 440px;
  min-width: 280px;
  margin: auto;
  padding: 2.5% 0;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.67);
  border-radius: 2px;
}

.container {
  width: 80%;
  max-width: 372px;
  min-width: 280px;
  height: 100%;
}

.caption, .text, input {
  text-align: left;
}

.caption {
  padding: 2% 0;
  font-family: Lato;
  font-size: 26px;
  font-weight: 700;
  line-height: 45px;
  color: #29275a;
}

.text, .sub-caption, button {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #798392;
}

.text {
  padding: 0 10% 5% 0;
  font-size: 16px;
  line-height: 23px;
  color: #586270;
}

.form input {
  width: 100%;
  max-width: 360px;
  min-width: 280px;
  height: 50px;
  margin: 2% 0 2.5% 0;
  padding-left: 5%;
  border-radius: 3px;
  border: 1px solid #a9b7cb;
}

input:focus {
  outline: none;
}

.captcha input {
  height: 99px;
}

.button-connect button {
  width: 100%;
  max-width: 360px;
  min-width: 280px;
  height: 50px;
  margin: 2% 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(188, 188, 188, 0.54);
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #0d31a2;
  color: #ffffff;
}

button:focus {
  outline: none;
}